/* .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
} */

.column {
  margin-bottom: 20px;
  cursor: pointer;
}

.card-body h3 {
  font-size: 15px;
  text-align: center;
}

.card-body {
  padding: 10px;
}

.card {
  position: relative;
  transition: 0.2s ease-in;
}

.player-btn {
  position: absolute;
  font-size: 32px;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 6px solid rgba(255, 255, 255, 0.348);
  border-radius: 50%;
  transition: 0.6s;
  opacity: 0;
  visibility: hidden;
}

.player-btn i {
  background-color: aliceblue;
  border-radius: 50%;
  padding: 20px;
  transition: 0.6s;
}

.column:hover .player-btn {
  visibility: visible;
  display: block;
  opacity: 1;
}

.column:hover .player-btn i {
  padding: 20px;
}

.card-cover:hover .player-btn {
  visibility: visible;
  display: block;
  opacity: 1;
}
.card-cover:hover .player-btn i {
  padding: 20px;
}
.card-cover {
  z-index: 0;
  transition: 0.5s;
}

.card-cover:hover {
  opacity: 0.8;
  transform: scale(0.95);
}

.column:hover img {
  cursor: pointer;
  opacity: 0.7;
}

.column:hover .card {
  transform: scale(0.9);
}

.hotFilmRelease,
.newUpdatedFilm,
.listFilm {
  margin: 10px 0;
}

.card-cover {
  position: relative;
  overflow: hidden;
  /* box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75); */
  background-color: #222028;
  margin-right: 12px;
  border: none;
}

.card-cover:hover img {
  cursor: pointer;
}

.slick-list {
  padding: 10px 20px;
}

.slick-next:before,
.slick-prev:before {
  font-size: 49px;
}

.slick-next {
  right: -18px;
}

.slick-prev {
  left: -20px;
}
.listFilm {
  margin-top: 30px;
}

.card-cover img {
  width: 100%;
}

.navigation_link a {
  width: 100%;
  height: 100%;
}

.wrapper-body h2,
h3,
h1 {
  text-align: start;
}

.wrapper-img img {
  width: 100%;
}

.slick-arrow.slick-prev {
  display: block;
  width: 46px;
  height: 100%;
  transition: 0.4s ease;
  color: #222028;
  z-index: 3;
}

.slick-arrow.slick-next {
  z-index: 3;
  display: block;
  width: 46px;
  height: 100%;
  transition: 0.4s ease;
}

.slick-arrow.slick-next:hover .slick-next:before {
  color: #fff;
}

.slick-arrow.slick-prev:hover .slick-prev:before {
  background: black;
  opacity: 0.7;
  color: #fff;
}

.slick-arrow.slick-prev:hover {
  background: black;
  border-radius: 30px 0 0 30px;
  opacity: 0.7;
}

.slick-arrow.slick-next:hover {
  border-radius: 0 30px 30px 0;
  background: black;
  opacity: 0.7;
}

.slick-next:before,
.slick-prev:before {
  color: #222028;
}
