.container-footer {
  padding: 7px 10px;
  border-radius: 30px 30px 0 0;
  font-size: 15px;
  /* margin-top: 100px; */
  color: white;
  border: 1px solid;
  margin-top: 80px;
  /* background-image: url("/demo/public/assests/images/footer.jpg"); */
  background-color: #247cd4;
}

.row .justify-content-center {
  justify-content: center;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}
.social h3,
h4 {
  text-align: center;
}

.social {
  margin-top: -10px;
}
.list-unstyled {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.list-unstyled li {
  margin: 5px 10px;
}

.footer-site-logo h3 {
  text-align: center;
}
