@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
}

.App {
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
  font-size: 15px;
}

.container {
  position: relative;
  padding: 0 40px;
  min-height: 100vh;
}

.wrapper-body {
  margin: 20px 0;
  /* min-height: 100vh; */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

*::-webkit-scrollbar {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container-wrapper {
  background-color: #e3e3e3;
}

a {
  font-style: none;
  text-decoration: none;
  color: aliceblue;
}

/* .warning-area {
  background-color: yellow;
}

.App>div>nav>ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  list-style-type: none;
}

.App>div>nav>ul li {
  padding: 10px 15px;
  margin-right: 1.5rem;
}

.App>div>nav>ul>.active {
  background-color: khaki;
}

.App>div>nav>ul>li>a {
  text-decoration: none;
  color: white;
}

.App .container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 70px;
}

.App .container .column {
  width: calc(100%/4 - 10px);
  margin-right: 10px;
  margin-bottom: 15px;
}

.App .container .column img {
  height: 200px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.App .container .column img:hover {
  scale: 0.93;
  transition: 0.2s ease;
}

.App .container .column .card {
  background-color: #b6b3b3;
  border-radius: 8px;
}

.App .container .column h3 {
  margin-top: 3px;
  color: yellow;
  font-size: 20px;
}

.App .container .column.last-row {
  margin-right: 0px
}

/* .App .container .column .card p button {
  outline: none;
  background-color: transparent;
  border: none;
  color: white;
  padding: 5px;
}  


.App .footer {
  position: relative;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: rgb(198, 198, 55);
  text-align: center;
  padding: 10px 0;
  color: white;
}

.carousel-inner {
  margin: 15px 0;
}

.carousel-inner img {
  margin: auto;
}

#carouselExample {
  width: 750px;
  margin: auto;
}


.btn {
  transition: all 0.3s ease-in-out;
  font-family: "Dosis", sans-serif;
}


.btn:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.btn:active {
  opacity: 0.5;
} */
